includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nepada/phpstan-nette-tester/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - tests/PHPStan/disallowedCalls.neon

parameters:
    level: max
    paths:
        - tests

    fileExtensions:
        - php
        - phpt

    excludePaths:
        - tests/temp/*

    ignoreErrors:
        # intended
        - '~Parameter #1 \$value of method Nepada\\ConsistenceDoctrine\\.*EnumType<NepadaTests\\ConsistenceDoctrine\\Fixtures\\Enums\\.*Example>::convertToDatabaseValue\(\) expects .*, NepadaTests\\ConsistenceDoctrine\\Fixtures\\Enums\\Invalid given~'
        - # false positive
            message: '~Method NepadaTests\\ConsistenceDoctrine\\EnumTypeTestCase::registerType\(\) should return TType of Doctrine\\DBAL\\Types\\Type but returns Doctrine\\DBAL\\Types\\Type~'
            path: tests/ConsistenceDoctrine/EnumTypeTestCase.php
#        - '~Call to static method Tester\\Assert::(type|count|same|notSame)\(\) with .* and .* will always evaluate to true\.~'
